src/sickle/common/headers/windows/__pycache__
src/sickle/common/headers/windows/__pycache__
src/sickle/modules/__pycache__
src/sickle/__pycache__
src/sickle/payloads/__pycache__
src/sickle/payloads/windows/__pycache__
src/sickle/payloads/windows/x86/__pycache__
src/sickle/payloads/windows/x64/__pycache__
src/sickle/payloads/linux/__pycache__
src/sickle/payloads/linux/x64/__pycache__
src/sickle/payloads/linux/x86/__pycache__
src/sickle/payloads/linux/aarch64/__pycache__
src/sickle/common/__pycache__
src/sickle/common/lib/__pycache__
src/sickle/common/lib/generic/__pycache__
src/sickle/common/lib/reversing/__pycache__
src/sickle/common/handlers/__pycache__
src/sickle/formats/__pycache__
